<html>
<head>
    <title>
        {% block title %}{% endblock %}        
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Repuestosapp/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>
<header>
    <a href="/">KMOTORSHOP.COM</a>
    <ul class="user-ref">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">Hola {{user.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'salir' %}">Cerrar sesión</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'acceder' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registro' %}">Register</a>
            </li>
        {% endif %}
    </ul>
</header>
<body>
<!-- Buscador genérico -->
    <div class="contform">
        <h1>Spare parts finder</h1>
        <form action="" method="GET">
            <!-- {% csrf_token %} -->
            <div class="maintable">{{formulariop.as_table}}</div>
            <button type="submit" value="enviar">Buscar</button>
        </form>
    </div>

<div class="lateral">
<aside>
<!-- <form action="" method="GET"> -->
    <form action="" method="GET">
<!-- {{filtrador}} -->
    <label for="">Select vehicle:</label>
    <!-- Vehiculos -->
    <div class="sep">
        <select name="car_id" id="car_id" required>
            <option value="">Choose manufacturer...</option>
            {% for only in onlyManufCars %}
                <option value="{{only.car_manufacturer}}">{{only.car_manufacturer}}</option>
            {% endfor %}
        </select>
    </div>
    <!-- Modelos -->
    <div class="sep">
        <!-- <label for="">Model:</label> -->
        <select name="car_model_id" id="car_model_id" disabled required>
            <option value="">Choose model...</option>
            {% for all in allCars %}
                <option value="{{all.car_model}}" data-carro="{{all.car_manufacturer}}">{{all.car_model}}</option>
            {% endfor %}
        </select>
    </div>
    <!-- Motores -->
    <div class="sep">
        
        <!-- <label for="">Model:</label> -->
        <select name="engine_id" id="engine_id" disabled required>
            <option value="">Choose engine...</option>
            {% for all in allEngines %}
                {% for p in all.car_engine_info.all %}
                    <option value="{{all.engine_ide}}" data-carro="{{p.car_model}}">{{all}}</option>
                {% endfor %}
            {% endfor %}
        </select>
    </div>
    <button type="submit" value="filtrar">Buscar</button>
    </form>       
</aside>

{% if spare or brand_id %}
<div class="filterExtra">
<label for="">Table options:</label>
    <div class="PDFoptions">
        <button onClick="viewPDF()">Preview</button>
        <button onClick="generatePDF()">Download</button>
    </div> 
</div>
{% endif %}

</div>
    {% load Repuestosapp_extras %}

    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% block content %}
    {% endblock %}
    <script src="{% static 'Repuestosapp/script.js' %}"></script>
    <!-- Para que trabaje el paginado -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- Para generar PDF con js -->
    <script src="html2pdf.bundle.min.js"></script>
    <script src='https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js'></script>

    <script src="{% static 'Repuestosapp/jquery-3.6.0.min.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</body>

</html>