{% extends "Repuestosapp/base.html" %}

{% block title %} Brand {% endblock %}

{% block content %}
{% load Repuestosapp_extras %}
<div class="resultadoBusqueda">
<div class="migajas">Spare brand: {{mig}} </div>
<!-- <p>{{brand_id}}</p> -->
{% if brand_id %}
<form method="POST" action="">
    {% csrf_token %}
    <div class="options">
        <input class="filter" type="text" id="myInput" placeholder="Filter">
        <button class="toCart" type="submit">Add</button>
    </div>
<table class="" id="invoice">
    <thead>
        <tr class="trsup">
            <th>Photo</th>
            <th>Code</th>
            <th>Brand</th>
            <th>Type</th>
            <th>Car</th>
            <th><input class="check" type="checkbox" onClick="toggle(this,'toAdd')"/></th>
        </tr>
    </thead>
    <tbody id="myTable">
    {% for br in brand_id %}
    <tr>
        <td><a href="{% url 'sparedetails' br.spare_code %}"><div style="background-image: url('/media/{{br.spare_photo}}');" class="photo"></div></a></div></td>
        <td><a href="{% url 'sparedetails' br.spare_code %}">{{br.spare_code}}</a></td>
        <td><a href="{% url 'brand' br.spare_brand %}">{{br.spare_brand}}</a></td>
        <td><a href="{% url 'name' br.spare_name %}">{{br.spare_name}}</a></td>
        <td><a href="{% url 'manuf' br.car_info__car_manufacturer %}">{{br.car_info__car_manufacturer}}</a></td>
        <td><input class="check" type="checkbox" name="toAdd" value="{{br.id}}"></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</form>
{% endif %}
</div>
<script>
function toggle(source,toAdd) {
    checkboxes = document.getElementsByName(toAdd);
    for (var i = 0,
        n = checkboxes.length; i < n; i++) {
        checkboxes[i].checked = source.checked;
    }
}
</script>
{% endblock %}