{% extends "Repuestosapp/base.html" %}

{% block title %} Brand {% endblock %}

{% block content %}
{% load Repuestosapp_extras %}
<div class="resultadoBusqueda">
<div class="migajas">Spare brand: {{mig}} </div>
<!-- <p>{{brand_id}}</p> -->
{% if brand_id %}
<input class="filter" type="text" id="myInput" placeholder="Filter">        
<table class="" id="invoice">
    <thead>
        <tr class="trsup">
            <td>Photo</td>
            <td>Code</td>
            <td>Brand</td>
            <td>Type</td>
            <td>Car</td>
        </tr>
    </thead>
    <tbody id="myTable">
    {% for br in brand_id %}
    <tr>
        <td><a href="{% url 'sparedetails' br.spare_code %}"><div style="background-image: url('/media/{{br.spare_photo}}');" class="photo"></div></a></div></td>
        <td><a href="{% url 'sparedetails' br.spare_code %}">{{br.spare_code}}</a></td>
        <td><a href="{% url 'brand' br.spare_brand %}">{{br.spare_brand}}</a></td>
        <td><a href="{% url 'name' br.spare_name %}">{{br.spare_name}}</a></td>
        <td><a href="{% url 'manuf' br.car_info__car_manufacturer %}">{{br.car_info__car_manufacturer}}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
</div>
{% endblock %}