{% extends "Repuestosapp/base.html" %}

{% block title %} Kmotorshop {% endblock %}

{% block content %}

<div class="resultadoBusqueda">
<form method="POST" action="">
    {% csrf_token %}
    <div class="options">
        <input class="filter" type="text" id="myInput" placeholder="Filter">
        <button id="default">Default</button>
        <button value="delete" name="delete" class="toCart" type="submit">Delete</button>
    </div>
    <table id="invoice" class="invoice">
        <thead>
            <tr class="trsup">
                <th>Photo</th>
                <th>Code</th>
                <th>Brand</th>
                <th>Type</th>
                <th>Car</th>
                <th><input class="check" type="checkbox" onClick="toggle(this,'toDel')"/></th>
            </tr>
        </thead>
        <tbody id="myTable">
        {% for car in carrito.cart %}
        {% for br in spare %}
        {% if car|add:"0" == br.id|add:"0" %}
        <tr>
            <td><a href="{% url 'sparedetails' br.spare_code %}"><div style="background-image: url('/media/{{br.spare_photo}}');" class="photo"></div></a></div></td>
            <td><a href="{% url 'sparedetails' br.spare_code %}">{{br.spare_code}}</a></td>
            <td><a href="{% url 'brand' br.spare_brand %}">{{br.spare_brand}}</a></td>
            <td><a href="{% url 'name' br.spare_name %}">{{br.spare_name}}</a></td>
            <td><a href="{% url 'manuf' br.car_info.all.0.car_manufacturer %}">{{br.car_info.all.0.car_manufacturer}}</a></td>
            <td><input class="check" type="checkbox" name="toDel" value="{{br.id}}"></td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</form>
</div>
<script>
document.getElementById("default").addEventListener("click",function(){
    $('#invoice tr > *:nth-child(6)').show();
    $('#invoice tr > *:nth-child(1)').show();
})

document.getElementById("downloadexcel").addEventListener("click",function(){
    $('#invoice tr > *:nth-child(6)').hide();
    $('#invoice tr > *:nth-child(1)').hide();
    var table2excel = new Table2Excel();
    table2excel.export(document.querySelectorAll("#invoice"));
})
</script>
{% endblock %}





