{% extends "Repuestosapp/base.html" %}

{% block title %} Spares {% endblock %}

{% block content %}
<div class="resultadoBusqueda">
<!-- <p>{{brand_id}}</p> -->
<table id="tmain">
    <thead>
        <tr class="trsup">
            <th>Photo</th>
            <th>Spare code</th>
            <th>Engine code</th>
            <th>Brand</th>
            <th>Type</th>
            <th>Car</th>
        </tr>
    </thead>
    {% for br in brand_id %}
    <tr>
        <td><a href=""><div style="background-image: url('/media/{{br.spare_photo}}');" class="photo"></div></a></div></td>
        <td><a href="">{{br.spare_code}}</a></td>
        <td><a href="{% url 'engine' test %}">{{test}}</a></td>
        <td><a href="{% url 'brand' br.spare_brand %}">{{br.spare_brand}}</a></td>
        <!-- <th><a name="brand_id" href="brand?brand_id">{{spares.spare_brand}}</a></th> -->
        <!-- <th><a href="">{{spares.spare_name}}</a></th> -->
        <td><a href="{% url 'name' br.spare_name %}">{{br.spare_name}}</a></td>
        <td><a href="{% url 'manuf' br.car_info.all.0.car_manufacturer %}">{{br.car_info.all.0.car_manufacturer}}</a></td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}

