{% extends "Repuestosapp/base.html" %}

{% block title %} Engine {% endblock %}

{% block content %}
{% load Repuestosapp_extras %}
<div class="resultadoBusqueda">
<div class="migajas">Engine code: {{mig}} </div>
<!-- <p>{{brand_id}}</p> -->
<input class="filter" type="text" id="myInput" onkeyup="myFunction()" placeholder="Filter">    
<table id="invoice">
    <thead>
        <tr class="trsup">
            <td>Photo</td>
            <td>Spare code</td>
            <td>Engine code</td>
            <td>Brand</td>
            <td>Type</td>
            <td>Car</td>
        </tr>
    </thead>
    {% for br in brand_id %}
    <tr>
        <td><a href="{% url 'sparedetails' br.spare_code %}"><div style="background-image: url('/media/{{br.spare_photo}}');" class="photo"></div></a></div></td>
        <td><a href="{% url 'sparedetails' br.spare_code %}">{{br.spare_code}}</a></td>
        <td><a href="{% url 'engine' test %}">{{test}}</a></td>
        <td><a href="{% url 'brand' br.spare_brand %}">{{br.spare_brand}}</a></td>
        <!-- <th><a name="brand_id" href="brand?brand_id">{{spares.spare_brand}}</a></th> -->
        <!-- <th><a href="">{{spares.spare_name}}</a></th> -->
        <td><a href="{% url 'name' br.spare_name %}">{{br.spare_name}}</a></td>
        <td><a href="{% url 'manuf' br.car_info.all.0.car_manufacturer %}">{{br.car_info.all.0.car_manufacturer}}</a></td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}

