{% extends "Repuestosapp/base.html" %}

{% block title %} Kmotorshop {% endblock %}

{% block content %}

    <div class="resultadoBusqueda">
<!-- {% if spare %}
        <table>
            <tr>
                <th>Code</th>
                <th>Brand</th>
                <th>Type</th>
                <th>Car</th>
            </tr>
            {% for spares in spare %}
            <tr>
                <th><a href="">{{spares.spare_code}}</a></th>
                <th><a href="{% url 'brand' spares.spare_brand %}">{{spares.spare_brand}}</a></th>
                <th><a href="{% url 'name' spares.spare_name %}">{{spares.spare_name}}</a></th>
                <th><a href="{% url 'manuf' spares.car_info.car_manufacturer %}">{{spares.car_info.car_manufacturer}}</a></th>
            </tr>
            {% endfor %}
    </table>
{% endif %} -->
    </div>

{% endblock %}