{% extends "Repuestosapp/base.html" %}

{% block title %} Manufacturer {% endblock %}

{% block content %}
{% load Repuestosapp_extras %}
<div class="resultadoBusqueda">
<div class="migajas">Car manufacturer: {{mig}} </div>
<!-- <p>{{brand_id}}</p> -->
<div class="options">
    <!-- <input class="filter" type="text" id="myInput" placeholder="Filter"> -->
</div>
<div class="conten">
<li><a href="{% url 'allmanu' mig %}">All spares for {{mig}}</a></li>
{% for t in tr %}
<h3 class="">{{t|stringformat:"s"|truncatewords:1}}</h3>
    
    {% for br in brand_id %}
        {% if t|stringformat:"s"|truncatewords:1 == br.car_model|stringformat:"s"|truncatewords:1 %}
            <li><a href="{% url 'model' br.car_model %}">{{br.car_model}}</a></li>
        {% endif %}
    {% endfor %}
{% endfor %}
</div>
</div>
{% endblock %}


