{% extends "Repuestosapp/base.html" %}

{% block title %} Manifacturer {% endblock %}

{% block content %}
<div class="resultadoBusqueda">
<!-- <p>{{brand_id}}</p> -->
<table id="tmain">
    <thead>
        <tr class="trsup">
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Transmission</th>
        </tr>
    </thead>
    {% for br in brand_id %}
    <tr>
        <td><a href="{% url 'manuf' br.car_manufacturer %}">{{br.car_manufacturer}}</a></td>
        <td><a href="{% url 'model' br.car_model %}">{{br.car_model}}</a></td>
        <td><a href="">{{br.transmission}}</a></td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}


