{% extends "Repuestosapp/base.html" %}

{% block title %} Manifacturer {% endblock %}

{% block content %}
{% load Repuestosapp_extras %}
<div class="resultadoBusqueda">
<div class="migajas">Car manufacturer: {{mig}} </div>
<!-- <p>{{brand_id}}</p> -->
<input class="filter" type="text" id="myInput" placeholder="Filter">        
<table id="invoice">
    <thead>
        <tr class="trsup">
            <td>Manufacturer</td>
            <td>Model</td>
            <td>Transmission</td>
        </tr>
    </thead>
    <tbody id="myTable">
    {% for br in brand_id %}
    <tr>
        <td><a href="{% url 'manuf' br.car_manufacturer %}">{{br.car_manufacturer}}</a></td>
        <td><a href="{% url 'model' br.car_model %}">{{br.car_model}}</a></td>
        <td><a href="">{{br.transmission}}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}


