{% extends "Repuestosapp/base.html" %}

{% block title %} Model {% endblock %}

{% block content %}
{% load Repuestosapp_extras %}
<div class="resultadoBusqueda">
<div class="migajas">Car model: {{mig}} </div>
<!-- <p>{{brand_id}}</p> -->
<div class="options">
    <input class="filter" type="text" id="myInput" placeholder="Filter">
</div>
<a style="padding: 5px;display: inline-block;" href="">All spares for {{mig}}</a>
<table id="invoice">
    <thead>
        <tr class="trsup">
            <td>Litres</td>
            <td>Engine model</td>
            <td>Type</td>
            <td>Cylinder</td>
            <td>Pistons</td>
            <td>Power</td>
        </tr>
    </thead>
    <tbody id="myTable">
    {% for br in brand_id %}
    <tr>   
        <td><a href="">{{br.engine_l}}</a></td>
        <td><a href="{% url 'engine' br.engine_ide %}">{{br.engine_ide}}</a></td>
        <td><a href="">{{br.engine_type}}</a></td>
        <td><a href="">{{br.engine_cylinder}} ccm</a></td>
        <td><a href="">{{br.engine_pistons}}</a></td>
        <td><a href="">{{br.engine_power_kw}}Kw / {{br.engine_power_hp}}hp</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

