{% extends "Repuestosapp/base.html" %}

{% block title %} Tyoe {% endblock %}

{% block content %}
{% load Repuestosapp_extras %}
<div class="resultadoBusqueda">
<div class="migajas">Spare type: {{mig}} </div>
<!-- <p>{{brand_id}}</p> -->
<input class="filter" type="text" id="myInput" onkeyup="myFunction()" placeholder="Filter">    
<table id="tmain">
    <thead>
        <tr class="trsup">
            <td>Photo</td>
            <td>Code</td>
            <td>Brand</td>
            <td>Type</td>
            <td>Car</td>
        </tr>
    </thead>
    {% for br in brand_id %}
    <tr>
        <td><a href="{% url 'sparedetails' br.spare_code %}"><div style="background-image: url('/media/{{br.spare_photo}}');" class="photo"></div></a></div></td>
        <td><a href="{% url 'sparedetails' br.spare_code %}">{{br.spare_code}}</a></td>
        <td><a href="{% url 'brand' br.spare_brand %}">{{br.spare_brand}}</a></td>
        <!-- <th><a name="brand_id" href="brand?brand_id">{{spares.spare_brand}}</a></th> -->
        <td><a href="{% url 'name' br.spare_name %}">{{br.spare_name}}</a></td>
        <td><a href="{% url 'manuf' br.car_info__car_manufacturer %}">{{br.car_info__car_manufacturer}}</a></td>
    </tr>
    {% endfor %}
</table>
{% if brand_id.paginator.count > 10 %}
<div class="pagination">
    {% if brand_id.has_previous %}
        <a href="{% my_url 1 'page' request.GET.urlencode %}"><<</a>
        <a href="{% my_url brand_id.previous_page_number 'page' request.GET.urlencode %}"><</a>
    {% else %}
        <a class="disabled" href="#"><<</a>
        <a class="disabled" href="#"><</a>
    {% endif %}
    {% for num in brand_id.paginator.page_range %}
        {% if brand_id.number == num %}
            <a class="numpag pactual" href="{% my_url num 'page' request.GET.urlencode %}">{{num}}</a>
        {% elif num > brand_id.number|add:"-3" and num < brand_id.number|add:"3" %}
            <a class="numpag" href="{% my_url num 'page' request.GET.urlencode %}">{{num}}</a>
        {% endif %}
    {% endfor %}
    {% if brand_id.has_next %}
        <a href="{% my_url brand_id.next_page_number 'page' request.GET.urlencode %}">></a>
        <a href="{% my_url brand_id.paginator.num_pages 'page' request.GET.urlencode %}">>></a>
    {% else %}
        <a class="disabled" href="#">></a>
        <a class="disabled" href="#">>></a>
    {% endif %}
</div>
{% endif %}
</div>
{% endblock %}


