{% extends "Repuestosapp/base.html" %}

{% block title %} Model {% endblock %}

{% block content %}
<div id="invoice" class="resultadoBusqueda">

    <p>Hola</p>{{name}}

    <button onClick="generatePDF()">Download</button>


    <!-- <form target="_blank" action="">
        <button value="view" name="view"  type="submit">View Invoice</button>
    </form>
    <form action="">
        <button value="print" name="print" type="submit">Download Invoice</button>
    </form> -->


    <!-- <a name="view" rel="noopener noreferrer" target="_blank" href="">View Invoice</a>
    <a name="print" href="">Download Invoice</a> -->


    <!-- <form method="get" action="">
        {{ all.form.as_p }}
        <input type="submit" value="Press">
    </form>
    {% for n in all.qs %}
        <p>Code: {{n.spare_code}}</p>
        <p>Brand: {{n.spare_brand}}</p>
        <p>Name: {{n.spare_name}}</p>
    {% endfor %} -->

</div>
{% endblock %}