<html>
<head>
    <title>Hola</title>
</head>
<header>

</header>
<body>
<div class="resultadoBusqueda">
    {{all}}
    {% if all %}
    <table class="" id="tmain">
        <thead>
            <tr class="trsup">
                <th>Manuf</th>
                <th>Model</th>
            </tr>
        </thead>
        {% for br in all %}
        <tr>
            <td><a href="">{{br.car_manufacturer}}</a></td>
            <td><a href="">{{br.car_model}}</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
</body>
</html>
