/* Todos ---------------------------------------------------------------------------- */
* {
    margin:0;
    padding:0;
}

/* Cabecera ----------------------------------------------------------------------------*/
header:not(.user-ref) {
    /* background-color:rgb(196, 18, 18); */

    background: rgb(136,12,12);
    background: linear-gradient(0deg, rgba(136,12,12,1) 0%, rgba(196,18,18,1) 83%);
    text-align: center;
    font-style: italic;
    /* padding: 20px 0px; */
    height: 80px;
}
header a:not(.nav-link) {
    text-decoration: none;
    color:white;
    display: inline-block;
    margin:auto;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 25px;
}
body {
    /* height: 90%; */
    background-color: silver;
    
}
.user-ref {
    float: right;
    font-style: normal;
    font-weight: normal;
    list-style: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-top: 28px;
}
.nav-link {
    text-decoration: none;
    color:white;
    /* padding: auto 10px; */
}

/* migajas */
.migajas {
    background: rgb(206, 59, 59);
    color:white;
    padding: 10px;
    margin: 10px 0 auto;
}

/* Buscador ----------------------------------------------------------------------------*/
.contform {
    /* background-color: darkgreen; */
    background-image: url("/static/Repuestosapp/img/portada.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    text-align: center;
    height: 240px;
}
h1 {
    padding: 20px 0;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:white;
    /* margin-top: 20px; */
}
form input {
    border-radius: 20px;
    padding: 5px 10px;
    width: 400px;
}
button {
    margin: 20px 0;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Tabla de resultados ----------------------------------------------------------------------------*/
.trsup {
    /* background-color: #c41212; */
    background: rgb(136,12,12);
    background: linear-gradient(0deg, rgba(136,12,12,1) 0%, rgba(196,18,18,1) 83%);
    color: white;
    
}
table, th, td {
    border: 1px solid transparent;
    border-radius: 5px;
}
th, td {
    padding: 8px;
}
.photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 80px;
    height: 80px;
    margin: auto;
}
.resultadoBusqueda {
    float: left;
    width: 75%;
    padding: 0 20px;
    padding-bottom: 20px;
}
.resultadoBusqueda table {
    margin:auto;
}
.resultadoBusqueda a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}
.resultadoBusqueda a:hover {
    text-decoration: underline;
}
.resultadoBusqueda table {
    width: 100%;
    text-align: center;
}
.pdfButton {
    color:blue;
    background-color: chartreuse;
    text-decoration: none;
}

/* Filtrador ----------------------------------------------------------------------------*/
.lateral {
    width: 20%;
    float: left;
}
aside, .filterExtra {
    background: rgb(136,12,12);
    background: linear-gradient(0deg, rgba(136,12,12,1) 0%, rgba(196,18,18,1) 83%);
    float: left;
    /* width: 20%; */
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}
aside label, .filterExtra label {
    color:white;
    font-weight: bold;
    margin: 10px 20px auto;
    display: inline-block;
}
.sep {
    margin: auto;
    display:block;
    padding: 0 15px;
    text-align: center;
}
select {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border-radius: 20px;
}
.PDFoptions {
    margin:10px 0;
}
.filterExtra {
    width: 100%;
}

/* Spare Details ----------------------------------------------------------------------------*/
.imagecont {
    width: 30%;
    margin-top: 20px;
}
.mimage {
    height: 220px;
    width: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
}
.sparedetcont {
    /* display: inline-block; */
    padding: 0 10px;
    margin-top: 20px;
    text-align: center;
}
.sparedetcont h3 {
    color: white;
    text-align: center;
    padding: 10px;
    background: rgb(136,12,12);
    background: linear-gradient(0deg, rgba(136,12,12,1) 0%, rgba(196,18,18,1) 83%);
}
.mdescrp {
    margin: auto;
    /* float: left; */
}
.mdescrp table {
    width: 70%;
}

/* Paginacion ----------------------------------------------------------------------------*/
#pag {
    text-align: center;
    background-color: red;
    margin-top: 20px;
}
#pag a {
    text-decoration: none;
}
#nav a:hover {
    text-decoration: none;
}
#nav a {
    background: rgb(206, 59, 59);
    padding: 10px 15px;
    border-radius: 2px;
    /* text-decoration: none; */
}
#nav a {
    color:white;
}
#nav .active {
    color: white;
    background: rgb(136,12,12);
    background: linear-gradient(0deg, rgba(136,12,12,1) 0%, rgba(196,18,18,1) 83%);
}
#nav a:hover {
    color: white;
    background: rgb(136,12,12);
    background: linear-gradient(0deg, rgba(136,12,12,1) 0%, rgba(196,18,18,1) 83%);
}
.pagination a:not(.numpag) {
    margin: 0 10px;
    color: rgba(136,12,12,1);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.disabled {
    cursor: not-allowed;
}

/* filtro ----------------------------------------------------------------------------*/
.filter {
    padding: 5px;
    margin: 10px auto;
}
